/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}
snack-bar-container.success{
    background-color: green;
    color: #fff;
}
snack-bar-container.warn{
    background-color: rgb(236, 59, 5);
    color: #fff;
}
snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;
}

.hide{
    display: none;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}